<form action="/api_insert" method="post" enctype="multipart/form-data">

Bill Image      : <input type="file" name="Bill" accept="image/*"/>       <br><br>
Receiver Image  : <input type="file" name="Receiver" accept="image/*"/>   <br><br>
Id Photo        : <input type="file" name="Photo" accept="image/*"/>      <br><br>
                  <input type="submit">

</form>